* {
	margin: 0px;
	padding: 0px;
	font-family: 'Anek Malayalam', sans-serif;
}
#responsePre {
	max-height: 500px;
	width: 880px;
	margin-left: 100px;
}
#navBox{
	display: none;
}
#navbar {
	display: block;
	background-color: black;
	color: rgb(250, 186, 66);
	height: 60px;
}

#navbar ul {
	display: flex;
	margin: 0px 30px;
	list-style: none;
}

#icon {
	font-size: 22px;
	margin-right: 10px;

}

#navbar ul li {
	margin-top: 20px;
	margin-bottom: 20px;
}

#navbar ul li a {
	color: rgb(250, 186, 66);
	text-decoration: none;
	margin: 3px;
	font-size: 17px;
	padding: 10px;
}
.alertBox{
	height: 40px;
	width: 1481px;
	margin: 5px 10px;
	background-color: rgb(255, 220, 154);
	color: rgb(114, 35, 35);
	border-radius: 5px;
	text-align: center;
	font-size: 20px;
}
#welcome {
	font-size: 45px;
}

#totalBox {
	margin: 20px 10px 0px 240px;
}

#secondary-box {
	display: flex;
	flex-direction: column;
}
.formEle{
	margin-top: 30px;
	display: flex;
}
.formEle legend{
	margin-right: 80px;
}

#url {
	width: 886px;
	height: 37px;
	border-radius: 4px;
	border: 2px solid rgb(175, 173, 173);
	font-size: 17px;
	text-indent: 20px;
}

#url::-webkit-input-placeholder {
	font-size: 17px;
}

#url:focus {
	box-shadow: 0 0 5px rgb(241, 186, 82);
	outline-color: rgb(248, 192, 88);
	padding: 2px 0px 2px 0px;
	
}

#requestJsonText {
	width: 886px;
	height: 96px;
	border-radius: 5px;
	border: 2px solid rgb(175, 173, 173);
	font-size: 17px;
	text-indent: 20px;
}

#requestJsonText:focus {
	box-shadow: 0 0 5px rgb(241, 186, 82);
	outline-color: rgb(248, 192, 88);
	padding: 10px 0px 10px 0px;
}

.formRadio1{
	accent-color: rgb(250, 186, 66);
}

#submit {
	background-color: rgb(245, 183, 67);
	height: 40px;
	width: 88px;
	border: 1px solid gray;
	border-radius: 5px;
	font-size: 18px;
	margin-top: 26px;
	margin-bottom: 30px;
}

#submit:hover {
	background-color: rgb(247, 177, 47);
	cursor: pointer;
}
#rBox{
	display: flex;
	margin-right: 7px;
}

.parachute {
	display: flex;
}
.p1{
	margin-right: 93px;
	display: flex;
}
#l1{
	margin-right: 41px;
}
.parak {
	width: 386px;
	height: 37px;
	border-radius: 4px;
	border: 2px solid rgb(175, 173, 173);
	margin: 10px 10px 20px 0px;
	font-size: 17px;
	text-indent: 20px;

}

.col-form-label {
	margin-right: 140px;
}

.parak::-webkit-input-placeholder {
	font-size: 17px;
}

.parak:focus {
	box-shadow: 0 0 5px rgb(241, 186, 82);
	outline-color: rgb(248, 192, 88);
	padding: 2px 0px 2px 0px;
}

.btn {
	background-color: rgb(250, 186, 66);
	color: black;
	height: 40px;
	width: 40px;
	border-radius: 5px;
	margin-top: 12px;
}
.btn:hover{
	cursor: pointer;
	background-color: rgb(247, 177, 47);
}